.container-search {
    margin-left: 1%;
    margin-right: 1%;
}

.title {
    text-align: center;
    font-size: 4vh;
    margin: 0%;
}

.tanggal-hari-ini{
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.hide {
    display: none !important;
}

#jadwal-tidak-ditemukan > h3{
    text-align: center !important;
    color: rgb(110, 110, 110);
    font-size: 1em;
    margin: 2em 0em;
}
.quotation-mark{
    font-weight: bold;
    font-size: 5em;
    font-family: "Times New Roman", Georgia, Serif;
}
.qm-top{
    margin-top: -10px;
    margin-left: -40px;
}
.qm-bottom{
    text-align: right;
    margin-top: -50px;
    margin-right: -20px;
}
.quote-text{
    text-align: center;
    font-size: 1.3em;
    margin-top: -120px;
}
btn-ui{
    background-color: rgb(252, 146, 48);
    color: white;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}