<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="css/ujianFilkomTheme.css" />
    <link rel="stylesheet" href="css/ujianFilkom.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <script src="js/ujianFilkom.js"></script>
</head>

<body data-theme="a">
    <div data-role="page" id="daftar-jadwal">
        <div class="ui-loader-background"> </div>
        <div data-role="header">
            <h1>JADWAL UJIAN</h1>
        </div>
        <div data-role="main" class="ui-content">
            <h3 class="title">JADWAL UJIAN HARI INI</h3>
            <h5 id="hari-ini" class="tanggal-hari-ini"></h5>
            <a href="#cari-jadwal" data-role="button" class="ui-btn btn-filkom">Tampilkan seluruh jadwal</a>

            <div id="jadwal-ditemukan">
                <ul id="jadwal-hari-ini" data-role="listview" data-filter="true" data-split-icon="gear" data-split-theme="a" data-inset="true">
                    <li id="divider-tanggal" data-role="list-divider"></li>
                </ul>
            </div>

            <div id="jadwal-tidak-ditemukan" class="hide">
                <h3>Hari ini tidak ada jadwal ujian. Manfaatkan waktu anda untuk belajar.</h3>
                <hr/>

                <blockquote class="quote-box">
                    <p class="quotation-mark qm-top">&ldquo;</p>
                    <p class="quote-text">
                        Waktu adalah emas, tapi waktu yang telah hilang tidak akan bisa di beli dengan emas
                        <br/> -
                        <b>Konfisius</b> -
                    </p>
                    <p class="quote-source"></p>
                    <p class="quotation-mark qm-bottom">&rdquo;</p>
                </blockquote>
            </div>
        </div>
    </div>

    <div data-role="page" id="cari-jadwal">
        <div data-role="header">
            <h1>SEMUA JADWAL</h1>
            <a href="#daftar-jadwal" data-role="button" class="ui-btn-left" data-icon="back">Kembali</a>
        </div>
        <div data-role="main" class="ui-content">
            <a href="#popFilter" data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn">Filter Jadwal</a>
            <div data-role="popup" id="popFilter" style="margin : 0px;">
                <div data-role="header">
                    <h1>FILTER JADWAL</h1>
                </div>
                <div data-role="main" class="ui-content">
                    <h2>Filter Jadwal Berdasarkan : </h2>
                    <ul data-role="listview" data-inset="true" style="margin : 0px;">
                        <li class="ui-field-contain">
                            <label for="jenisSelect" class="select">Jenis Ujian</label>
                            <select name="jenisSelect" id="selectJenis" class="filteria">
                                <option value="null">Pilih Jenis Ujian</option>
                                <option value="uts">UTS</option>
                                <option value="uas">UAS</option>
                            </select>
                        </li>
                        <li class="ui-field-contain">
                            <label for="hariSelect" class="select">Hari</label>
                            <select name="hariSelect" id="selectHari" class="filteria">
                                <option value="null">Hari Pelaksanaan Ujian</option>
                            </select>
                        </li>

                        <li class="ui-field-contain">
                            <label for="tanggalSelect" class="select">Tanggal:</label>
                            <select name="tanggalSelect" id="selectTanggal" class="filteria">
                                <option value='null' selected>Tanggal Ujian</option>
                            </select>
                        </li>
                        <li class="ui-field-contain">
                            <label for="jurusanSelect" class="select">Jurusan :</label>
                            <select name="jurusanSelect" id="selectProdi" class="filteria">
                                <option value="null">Pilih Jurusan</option>
                                <option value="SI">S1 Sistem Informasi</option>
                                <option value="SISKOM">S1 Teknik Komputer</option>
                                <option value="ILKOM">S1 Teknik Informatika</option>
                                <option value="2015010001">S1 Pendidikan Teknologi Informasi</option>
                                <option value="2016040001">S1 Teknologi Informasi</option>
                                <option value="2014120001">S2 Ilmu Komputer/Informatika</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div data-role="footer">
                    <center>
                        <a class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-back ui-btn-icon-left" data-rel="back" href="#">Tutup</a>
                    </center>
                </div>
            </div>

            <div id="jadwalContainer">
                <div id="daftar-jadwal">
                    <ul id="all-jadwal" data-role="listview" data-filter="true" data-split-icon="gear" data-split-theme="a" data-inset="true">
                        <li id="divider-tanggal-all" data-role="list-divider"></li>
                    </ul>
                </div>
            </div>
            <div id="testView">

            </div>
        </div>
        <div data-role="footer">
            <center>
                <h2>PPK-O-2017</h2>
            </center>
        </div>
    </div>
</body>